$colors: (
        color: 'red',
        hexValue:'#F44336'),
(
        color: 'pink',
        hexValue: '#e91e63'),
(
        color: 'purple',
        hexValue: '#9c27b0'),
(
        color: 'indigo',
        hexValue: '#3f51b5'),
(
        color: 'blue',
        hexValue: '#2196F3'),
(
        color: 'cyan',
        hexValue: '#00bcd4'),
(
        color: 'teal',
        hexValue: '#009688'),
(
        color: 'green',
        hexValue: '#4CAF50'),
(
        color: 'light',
        hexValue: '#8bc34a'),
(
        color: 'lime',
        hexValue: '#cddc39'),
(
        color: 'yellow',
        hexValue: '#ffeb3b'),
(
        color: 'amber',
        hexValue: '#ffc107'),
(
        color: 'orange',
        hexValue: '#ff9800'),
(
        color: 'brown',
        hexValue: '#795548'),
(
        color: 'grey',
        hexValue: '#9e9e9e');


$tour-red: #ff3019;
$tour-blue: #08c;
$tour-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
$tour-shortShadow: 0 0px 0px #e3e3e3;


$typer-gray: #D4D4BD;
$typer-black: #1E1E1E;
$typer-selected: #264F78;
$typer-carat: #3F51B5;
