$tour-red: #ff3019;
$tour-blue: #08c;
$tour-shortShadow: 0 0px 0px #e3e3e3;


$typer-gray: #D4D4BD;
$typer-black: #1E1E1E;
$typer-selected: #264F78;
$typer-carat: #3F51B5;


// 2. Set your own initial variables
//$blue: #06bcef;
//$pink: #ff8080;
//$pink-invert: #fff;
//$family-sans-serif: "Helvetica", "Arial", sans-serif;
//$primary: $pink;
//$primary-invert: $pink-invert;

