//tour elem styling
.introjs {

  &-helperNumberLayer{
    border: 3px solid $tour-red;
    font-family: Roboto;
    padding: 0px;
    background: $tour-red;
  }

  &-helperLayer {
    opacity: 0.6 !important;
    border: 1px solid $tour-red;
  }

  &-tooltip {
    font-family: Roboto;
    box-shadow: $tour-shadow !important;
    border-radius: 2px;
  }

  &-button {
    //make tour cards look material
    background-color: $tour-blue !important;
    background-image: none;
    text-shadow: none;
    color: white;
    font-size: 13px;
    font-family: inherit;
    text-transform: uppercase;
    &:hover {
      border-color: transparent;
      box-shadow: $tour-shortShadow;
    }
    &:focus, &:active {
      background-image: none !important;
    }
  }


  &-prevbutton {
    display: none !important;
  }

}

.tour__step {
  &--2h ~ div {
    //the number badge
    span {
      top: 34px !important;
      left: 34px !important;
    }
  }
  &--3 {
    margin-top: 17px !important;
    &h ~ div {
      span {
        left: 262px !important;
        top: -13px !important;
      }
    }
  }

  &--4 {
    &h ~ div {
      span {
        left: 296px !important;
        top: -15px !important;
      }
    }
  }

  &--5h {
    width: 50px !important;
    height: 44px !important;
    top: 9px !important;
    margin-left: 6px !important;
    & ~ div {
      span {
        top: 41px !important;
        left: -11px !important;
      }
    }
  }
  &--7 {
    //margin-top: 27vh !important;
    top: unset !important;
    bottom: -40vh !important;

    &h {
      width: 100% !important;
      height: 53px !important;

      bottom: 0 !important;
      top: unset !important;
      left: 0 !important;
    }
    &h ~ div {
      span {
        top: unset !important;
        bottom: -40vh !important;
      }
    }
  }

  &--8 {
    .introjs-nextbutton {
      display: none;
    }
  }
}

@media only screen and (max-width: 523px) {
  .tour__step {
    &--3 {
      margin-top: -143px !important;
    }
  }
}

@media only screen and (max-width: 623px) {

  .tour__step {

    &--4 {
      top: 127px !important;
    }

  }
}